.DS_Store
node_modules
/dist
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 授權字型(Font Awesome Pro)不進版控
public/static/fontawesome-pro-5.13.0-web/
