::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 24px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: rgba(102, 102, 102, 0.38);
}